<h2>{{link-to 'Utilizadores' 'users'}} / Criar Utilizador</h2>

{{user-form user=model}}

{{#link-to 'users'}}Cancelar{{/link-to}}
<input type="button" {{action 'create'}} value="Criar" class="btn btn-primary">
