<h3>Ver e Resolver Problemas de Qualidade</h3>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.feed-fetch"}}Problemas de Busca de Feeds{{/link-to}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.route-geometry"}}Problemas de Geometria de Rota{{/link-to}}</div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">{{#link-to "issues.station-hierarchy"}}Problemas de Hierarquia de Paragem{{/link-to}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
