{{#marker-layer icon=markerStopIcon title=model.onestop_id onAdd=(action "editEntityAdded") location=model.coordinates as |marker|}}
  {{#popup-layer}}
    <p>Paragem: {{model.onestop_id}}</p>
    <p>Sequência: {{sequence}}</p>
    <p>Distância: <b>{{distance}}</b></p>
  {{/popup-layer}}
{{/marker-layer}}
