<div class="page-header" style="padding: 10px;">
  <h3>{{#link-to "issues"}}Problemas de Qualidade{{/link-to}} / {{#link-to "issues.station-hierarchy.index"}}Problemas de Hierarquia de Paragem{{/link-to}}</h3>
</div>

{{outlet}}
