{{#circle-marker-layer radius=radius title=model.onestop_id location=model.coordinates}}
  {{#popup-layer}}
    <p>Paragem: {{model.onestop_id}}</p>
    <p>Sequência: {{sequence}}</p>
    <p>Distância: <b>{{distance}}</b></p>
  {{/popup-layer}}
{{/circle-marker-layer}}
