<h2>{{link-to 'Conjuntos de alteração' 'changesets'}} / Novo Conjunto de alteração</h2>

{{changeset-form changeset=model.changeset users=model.users}}

{{#link-to 'changesets' class="btn btn-default"}}Cancelar{{/link-to}}
<input type="button" {{action 'create'}} value="Criar" class="btn btn-primary pull-right">
